extends layout

block content
  h1= title
  p Welcome to #{title}
  p Hello World
  a.button(href='./wow') wow
  img(src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/10/Empire_State_Building_%28aerial_view%29.jpg/399px-Empire_State_Building_%28aerial_view%29.jpg")
